.aci {
  width: 100%;
  height: 50vh;
}

.aci-textarea {
  resize: none;
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 14.400px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 90%;
  tab-size: 4;
}
