<p>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Toggle
        </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
        <div class="card-body">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <app-code-input (codeChange)="updateCode($event)"></app-code-input>
                    </div>
                    <div class="col-md-6">
                        <app-code-output [code]="result"></app-code-output>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>